/* 01 排版系统 (Typography System)

-字体大小（px）
-10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86

-字体粗细（Font Weights）
-500 / 600 / 700 / 800

-行高（Line Heights）
-默认值为 1。

02
-间距系统（Spacing System, px）
-2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

02 颜色 (Colors)
-主色（Primary）
-tines 
-#e67e22（一种橙色调）
-grey #333 #555 */
/* 可重复使用的grid网格模版 */
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

/* 上面的可选，根据实际来看 */

.grid {
  display: grid;

  gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid-center-v {
  align-items: center;
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-4cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid-5cols {
  grid-template-columns: repeat(5, 1fr);
}

/* 助手类型 */
.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.margin-top-smallbig {
  margin-top: 6.4rem !important;
}

.margin-top-big {
  margin-top: 8rem !important;
}

.center-text {
  text-align: center;
}

/* 结束 */
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;

  padding: 1.6rem 3.2rem;
  border-radius: 190px;
  font-size: 2rem;
  font-weight: 600;

  transition: all 0.4s;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: white;
  color: #555;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:hover,
.btn-outline:active {
  background-color: #fae5d3;
  /* 小技巧，应为直接设置边框会挤占上面的整体的布局空间，比如padding会变成1.8 3.1，布局会变化，悬停的效果非常不好，所以，直接用shadow加inset关键字去进行边框的处理 */
  box-shadow: inset 0 0 0 3px #ffffff;
}

.link:link,
.link:visited {
  color: #e67e22;
  border-bottom: 2px solid currentColor;
  text-decoration: none;
  padding-bottom: 2px;
  display: inline-block;

  transition: all 0.3s;
}

.link:hover,
.link::after {
  color: #ca6c1a;
  border-bottom: 2px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.list-item {
  font-size: 1.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 2rem;
  height: 2rem;
  color: #e67e22;
}
