

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

html {
  font-size: 62.5%;
}

.logo {
  height: 2.8rem;
  width: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 6.4rem;
  background-color: #fff5e9;
}

.section-hero {
  background-color: #fff5e9;
  padding: 12rem 0 20rem 0;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #555;
  font-weight: 600;

  transition: all 0.3s;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.nav-cta:link,
.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 190px;
  background-color: #e67e22;
  color: #fff;
}

.nav-cta:hover,
.nav-cta:active {
  background-color: #cf711f;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  margin-bottom: 3.2rem;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
}

.heading-secondary {
  font-size: 4.4rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #cf711f;
  letter-spacing: 1.5px;
  margin-bottom: 1.6rem;
  display: inline-block;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}

.hero-img {
  width: 100%;
}

.margin-right-small {
  margin-right: 1.8rem;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-top: 9.6rem;
}

.delivered-img {
  display: flex;
}

.delivered-text {
  font-size: 1.8rem;
  align-self: center;
  font-weight: 600;
}

.delivered-img img {
  height: 5rem;
  width: auto;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fae5d3;
}
.delivered-text span {
  color: #e67e22;
  font-weight: 700;
}

/* logos这一块 */
.heading-featured-in {
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  text-align: center;
  margin-bottom: 2.4rem;
  color: #888;
}

.section-featured {
  padding: 9.6rem 0;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  /* 就像wps的流动在文字周围一样 */
  gap: 4.8rem;
  /* 这里的gap属于可有可无，但是我发现把他加上去后间距更舒服 
  其次，justify-content:space-around是根据上面的padding走的，gap不是他的决定因素*/
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 60%;
}
/* how it work 这一块 */

.section-how {
  padding: 9.6rem 0;
  background-color: #ffffff;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-bottom: 3.2rem;
}

.step-description {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}
/* 这里给他的父容器简单flex就行，不要再去他的祖元素上面给grid居中，会有问题 */
.step-img-box {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.step-img-box::before {
  content: "";
  display: block;
  width: 60%;
  /* height60% */
  /* 但是，这里的 height没有用。
  应为块元素的高是由宽度撑起来的，不是跟宽一样，是父元素的60%，所以，这里不能用height%60*/
  padding-top: 60%;
  background-color: #fff5e9;

  position: absolute;
  border-radius: 50%;
  /* 不知怎的，我这里应该是要写一个图像偏移的css */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 就像这样，但是他自动对齐到中间了，好事反正。 */
  z-index: 0;
  /* z轴的描述，图像的上下 */
}

.step-img-box::after {
  content: "";
  display: block;
  width: 45%;
  padding-top: 45%;
  background-color: #fae5d3;
  position: absolute;
  border-radius: 50%;
  z-index: 0;
}

.step-img {
  width: 35%;
  z-index: 1;
}

/* Meals 组件 */
.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 1.6rem;
  overflow: hidden;

  transition: all 0.4s;
}

.meal:hover {
  transform: translate(0, -1.2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
}

.meal-img {
  width: 100%;
  border-radius: 1.6rem;
  margin-bottom: 1.2rem;
}

.meal-content {
  padding: 2.4rem 3.2rem;
}

.tag {
  display: inline-block;
  background-color: #20c997;
  color: #333;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.6rem;
  border-radius: 190px;
  margin-bottom: 1.6rem;
}

.meal-attributes {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  margin-bottom: 1.6rem;
  flex-direction: column;
}

.meal-attribute ion-icon {
  font-size: 1.8rem;
  color: #e67e22;
  margin-right: 0.8rem;
}

.meal-attribute {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.8rem;
  gap: 1.6rem;
  margin-left: 4.3rem;
}

.meal-title {
  font-size: 2.4rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 3.2rem;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-column: 1 / -1;
  margin: 0 auto;
  gap: 1rem;
  /* 这一段我不理解，用ai修好的 */
}

/* .section-testmonial 
   */

.section-testmonials {
  background-color: #fff5e9;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  align-items: center;
}

.testmonial-container {
  padding: 9.6rem;
}

.testmonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 3.2rem;
}

.testmonial-img {
  border-radius: 50%;
  width: 6.4rem;
  margin-bottom: 1.2rem;
}
.testmonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}
.testmonial-name {
  font-size: 1.6rem;
  color: #333;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}
.gallery-item img {
  width: 100%;
  display: block;

  transition: all 0.4s;
}

.gallery-item img:hover {
  transform: scale(1.2);
}

/* section-pringcing */
/* ok 啊，这一段我要完全的有自己建造，只是模仿，但不是抄代码的形式 */
.section-pricing {
  padding: 9.6rem 0;
}

.price-plan {
  text-align: center;
  margin-bottom: 4.8rem;
  background-color: #fff5e9;
  padding: 4.8rem;
  border-radius: 11px;
  width: 75%;
}

.plan1 {
  justify-self: end;
  background-color: transparent;
  border: 5px #fff5e9 solid;
}

.plan2 {
  position: relative;
  overflow: hidden;
}
.plan2::after {
  content: "more   money";
  background-color: yellow;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 1.2rem 3.2rem;

  position: absolute;
  top: 2.4rem;
  right: -3.4rem;
  transform: rotate(45deg);
}
.price-name {
  color: #ea8b38;
  font-size: 3.6rem;
}

.price {
  font-size: 6.2rem;
  font-weight: 600;
}
.price span {
  font-size: 3.6rem;
}
.price-header {
  padding: 0 4.8rem 4.8rem 4.8rem;
}

.plan-details aside{
  font-size: 1.6rem;
  font-weight: 500;
  
}



.feature-icon{
  width: 2.4rem;
  height: 2.4rem;
  color: #ea8b38;
  margin-bottom: 2.4rem;

  background-color: #fff5e9;
  border-radius: 50%;
  padding: 1.6rem;
}

.feature-title{
  font-size: 2.4rem;
  font-weight:800;
  margin-bottom: 1.2rem;
}
.feature-text{
  font-size:1.7rem;
  font-weight: 500;
  line-height: 1.8;
}

/* cat这一块 */
.section-cta{
  padding: 4.8rem 0 12.8rem;
}

.cta{
  display: grid;
  grid-template-columns: 2fr 1fr;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  color: #45260a;

  background-image: linear-gradient(to right bottom,#38d9a9,#66d9e8);

  
  overflow: hidden;
  /* 问？为什么在这里设置overflow，
  因为与border-raddius配套使用 */
}

.cta-img-box{
  background-image: linear-gradient(to right bottom,rgba(56, 217, 169, 0.402),rgba(102, 217, 232, 0.411)), url(/img/G5j0qb3WAAEOq6D.jpg);
  background-size:cover ;
  /* 这个就是说可以让背景图片一直覆盖背景 */
  background-position: center;

}


.cta  .heading-secondary{
  color: #45260a;
}
.cta-text-box{
  padding: 6.4rem;
}
.cta-text{
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 3.6rem;
}


.cta-form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3.2rem;
}
.cta-form label{
  display: block;
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
  
}
.cta-form input,.cta-form select{
  padding: 1.2rem;
  width:80%;
  font-size: 1.8rem;
  font-family: inherit;
  margin-bottom: 3.2rem;
  border: none;
  border-radius: 11px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}
/* 这里我选择单独的去设置btn */
.cta-form button{
  display: inline-block;
  text-decoration: none;
  border: none;
  align-self:end;
  padding: 1.2rem 9rem;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 600;
  width: auto;
  cursor: pointer;


  background-color: #20c997;
  color: #fff;

  transition: all 0.4s;
}


.cta-form button:hover{
  color: #2e1907;
}
.cta-specia-btn{
  align-self: center;
}
.cta *:focus:not(:focus-visible) {
  outline: none;
  box-shadow: none;
}
.cta *:focus-visible{
  outline: none;
  box-shadow: 0 0 0 0.3rem #12b886;
}

.footer{
  padding: 12.8rem 0;
  border-top: 2px solid #ddd;
}


.footer-heading{
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.footer-nav{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem   ;
}

.footer-nav a:link,
.footer-nav a:visited{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;

}
.footer-nav a{
  display: inline-block;
}

.footer-nav a:hover,
.footer-nav a:active{
  color: #2f2f2f;
 transform: scale(1.5);
}

.footer-lgos{
  display: flex;
  gap: 2.4rem;
  list-style: none;
}
.footer-lgos ion-icon{
  width: 2rem;
  height: 2rem;
  margin: 3.2rem 0;
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.logo-col p{
  font-size: 1.8rem;
}

.adress-col{
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.adress-col p{
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}
.adress-col a{
  text-decoration: none;
  color: #66d9e8;
}

.grid-footer-5col{
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}